* {
  overflow: hidden;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(173, 20, 30) 50%) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #f5f5f5;
}

.resp h2 {
  margin: 300px auto;
  width: 90%;
}

span,
.list {
  color: #db1926;
}

.small1,
.list1,
.list2 {
  font-family: "Dosis", sans-serif;
}

.small1 {
  color: #f5f5f5;
  font-size: 1.4em;
}

.list1,
.list2 {
  color: #db1926;
  font-size: 0.5em;
}
.list1 li,
.list2 li {
  list-style: none;
}
.list1 li:nth-child(2n),
.list2 li:nth-child(2n) {
  color: #f5f5f5;
}

.list2 li {
  text-align: left;
}

.list1 li {
  text-align: right;
}

.active {
  text-decoration: underline;
}

.btn,
.btn-outline-danger {
  color: #f5f5f5;
}

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar-brand {
  font-size: 1.5em;
}

.bg-dark {
  background: rgba(0, 0, 0, 0) !important;
}

.font {
  text-align: center;
  font-family: "VT323", monospace;
}

.container {
  min-height: 100vh;
}

.main {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 2.5em;
}

h1 {
  text-align: center;
  font-family: "VT323", monospace;
  min-height: 99vh;
  max-height: 99vh;
  line-height: 99vh;
}

h3,
h2 {
  padding-top: 50px;
  text-align: center;
}

h5 {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.shown {
  padding-top: 200px;
}

nav {
  font-size: 1.3em;
}

.ani-1,
.ani-3 {
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}

.ani-2 {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

.ani-3 {
  animation-delay: 0.8s;
}

.bgani {
  animation-name: change-bg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.edu,
.skills,
.work {
  font-size: 1.2em;
  padding-top: 70px;
  min-height: 100vh;
}

.work {
  padding-top: 120px;
}

i {
  font-size: 3em;
  padding: 10px;
}

i:hover {
  color: #db1926;
}

.overlay {
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.95);
}
.overlay a {
  color: white;
  text-decoration: none;
}

.hint {
  padding-top: 180px;
}
.hint i {
  font-size: 2.5em;
}

table {
  margin-top: 40px;
}
table .label {
  text-align: right;
}
table a:hover {
  color: #db1926;
}
table td {
  padding: 5px 10px;
}

.overlay #close {
  color: #db1926;
  position: fixed;
  top: 100px;
  right: 100px;
  font-size: 50px;
  float: right;
}

.overlay #close:hover {
  color: #7f0f16;
}

.overlay:target {
  display: block;
  visibility: visible;
  opacity: 1;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes change-bg {
  50% {
    background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(173, 20, 30) 50%);
  }
  60% {
    background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(173, 20, 30) 60%);
  }
  70% {
    background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(173, 20, 30) 70%);
  }
  80% {
    background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(173, 20, 30) 80%);
  }
  90% {
    background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(173, 20, 30) 90%);
  }
  100% {
    background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(38, 38, 38) 100%);
  }
}

/*# sourceMappingURL=master.css.map */
