$bgcolor : #262626;
$color1 : #3f3f3f;
$textcolor : #f5f5f5;
$contrast : #dcdcdc;
$base-color: #AD141E;
$VT : 'VT323',monospace;
$PTSN : 'PT Sans Narrow',sans-serif;
$DOS : 'Dosis', sans-serif;

*{
  overflow: hidden;
}
body{
  // overflow-y: hidden;
  font-family: $PTSN;
  background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(173,20,30,1) 50%) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color : $textcolor;
}
.resp h2{
  margin: 300px auto;
  width: 90%;
}
span, .list{
  color : lighten($base-color,10%);
}
.small1, .list1, .list2{
  font-family: $DOS;
}
.small1{
  color : $textcolor;
  font-size: 1.4em;
}
.list1,.list2{
  color : lighten($base-color,10%);
  font-size: 0.5em;
  li{
    list-style: none;
  }
  li:nth-child(2n){
    color: $textcolor;
  }
}
.list2{
  li{
    text-align: left;
  }
}
.list1{
  li{
    text-align: right;
  }
}
.active{
  text-decoration: underline;
}
.btn, .btn-outline-danger{
  color : $textcolor;
}
.mr-auto, .mx-auto{
  margin-left: auto !important;
  margin-right: 0 !important;
}
.navbar-brand{
  font-size: 1.5em;
}
.bg-dark{
  background: rgba(0, 0, 0, 0) !important;
}
.font{
  text-align: center;
  font-family: $VT;
}
.container{
    min-height: 100vh;
}
.main{
  text-align: center;
  font-family: $VT;
  font-size: 2.5em;
}
h1{
  text-align: center;
  font-family: $VT;
  min-height: 99vh;
  max-height: 99vh;
  line-height: 99vh;
}
h3,h2{
  padding-top: 50px;
  text-align: center;
}
h5{
  font-size: 1.5em;
}
.hidden{
  display: none;
}
.shown{
  padding-top: 200px;
}
nav{
  font-size: 1.3em;
}
.ani-1, .ani-3 {
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}

.ani-2 {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

.ani-3 {
  animation-delay: 0.8s;
}
.bgani{
  animation-name: change-bg;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.edu,.skills{
  font-size: 1.2em;
  padding-top: 70px;
  min-height: 100vh;
}
i{
  font-size: 3em;
  padding : 10px;
}
i:hover{
  color : lighten($base-color,10%);
}
.overlay{
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top : 0;
  bottom: 0;
  right: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
  background : rgba(0,0,0,0.8);
}
.hint {
  padding-top: 300px;
}
.overlay a{
  color : lighten($base-color,10%);
  position: fixed;
  top : 100px;
  right: 100px;
  font-size: 50px;
  text-decoration: none;
  float: right;
}
.overlay a:hover{
  color : darken($base-color, 10%);
}
.overlay:target{
  display: block;
  visibility: visible;
  opacity: 1;
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes change-bg {
  50%{
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(173,20,30,1) 50%);
  }
  60%{
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(173,20,30,1) 60%);
  }
  70%{
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(173,20,30,1) 70%);
  }
  80%{
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(173,20,30,1) 80%);
  }
  90%{
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(173,20,30,1) 90%);
  }
  100%{
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(38,38,38,1) 100%);
  }
}
